body{
    background-color: rgb(249 250 251) !important;
}
.menu-enter {
    opacity: 0;
    transform: scale(0.95);
}
.menu-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.menu-exit {
    opacity: 1;
}
.menu-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
.notificationWrapper {
    @apply flex flex-row items-center w-96 px-4 py-6 text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
}

.notificationSuccess {
    @apply bg-primary-900
}

.notificationError {
    @apply bg-red-900
}

.iconWrapper {
    @apply text-xl;
}

.contentWrapper {
    @apply flex flex-col items-start justify-center ml-4 cursor-default;
}

.contentWrapper h1 {
    @apply text-base text-gray-200 font-semibold leading-none tracking-wider;
}

.contentWrapper p {
    @apply text-sm text-white mt-2 leading-relaxed tracking-wider;
}

.closeIcon {
    @apply absolute top-2 right-2 cursor-pointer text-lg;
}
